p {
    color: maroon;
    font-size: 18px;
}

.chorus {
    color: black;
    font-size: 25px
}
 .blue
 {color: blue;

}

.bigger {
    font-size: 30px}
.bigger {color: red;}

 .gray
 {color: rgb(178, 178, 178);

}
.red {color:red}